* {
    --black: #000000;
    --white: #ffffff;
    --rust: #925946;
    --mustard: #c58b2a;
    --sage: #c3c6b1;
    --green: #4b553a;
    --tan: #bf8f72;
    --background:#f7e3d4;

    }
  
  body {
    font-size: 24px;
    min-height: 100vh;
    background-color: var(--background);
    justify-content: center;
    display: inline-block;
    }
  
  /* header */
  header {
    color: var(--tan);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 80px;
    padding-bottom: 0px;
    border-bottom: 90px solid var(--white);
    margin-bottom: 80px;
    inline-size: 100%;
    }
  
  header h1 {
    position: relative;
    font-size: 750%;
    margin-bottom: -70px;
    
    }

    hgroup p {
    position: inline-block;
    float: left;
    margin: 5%;
    width: 60%;
    font-size: 40px;
    color: var(--black);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    }

    .Hi { 
    Font-size: 60px;
    }


    .semi {
    position: relative;
    float: right;
    right:20px;
    max-height: 300px;
    inline-size: 300px;
    
    }

/* nav section */
  .navbar {
    display: inline-block;
    margin-bottom: 15%;
    inline-size: 100%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    main nav h2 {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--white);
    font-size: 30px;
    margin: 15px;
    padding: 20px;
    inline-size: fit-content;
    border-radius: 10%;
    }

    main h2 a {
    color: var(--tan);
    text-decoration: none;
    
    }
  
     main a:hover {
    color:var(--mustard);
    font-size:larger;
    }

  /* main*/
  main {
    width: fit-content;
    display: inline-block;
    margin: 10%;
    }

  .service {
    display: block;
    float: right;
    margin-bottom: 40px;
    height: fit-content;
    inline-size: 80%;
    padding: 20px;
    background-color: var(--sage);
    color:var(--rust);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    border-radius: 5%;
    }

    .avatar {
      position: relative;
      float: right;
      top: 20px;
      max-height: 200px;
      max-width: 200px;
    }

    .service h3 {
      font-size: 36px;
      margin: 45px;
      margin-bottom: 0px;
    }

    .service p {
      max-width: 65%; 
      margin: 5% 5% 15% 15%;
      font-size: 28px;
    }]


/* floats */
    .float-left {
    float: left;
    margin-right: 25px;
    }

    .float-right {
    float: right;
    margin-left: 25px;
    }


    .contact{
    display: inline-flex;
    flex-direction: row;
    margin: 2%;
    max-height:35%;
    inline-size: 10%;
    justify-content: space-evenly;
  }
  /*footer*/
  footer {
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    color: var(--black);
    
    }
