* {
    --light: #fff;
    --pink: #e934a7;
    --pale: rgb(232, 112, 152);
    --box: #aaaaaa;
    

    }
  
  body {
    font-size: 24px;
    min-height: 100vh;
    background-color:rgba(255, 195, 84, 0.754);
    justify-content: center;
    display: inline-block;
    }
  
  /* header */
  header {
    color: var(--pink);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 80px;
    padding-bottom: 0px;
    border-bottom: 90px solid var(--light);
    margin-bottom: 80px;
    inline-size: 100%;
    }
  
  header h1 {
    position: relative;
    font-size: 750%;
    margin-bottom: -70px;
    
    }

    .avatar {
    position: relative;
    float: right;
    top: 110px;
    max-height: 200px;
    max-width: 200px;
    }
    hgroup p {
    position: relative;
    float: left;
    margin: 5%;
    width: 60%;
    font-size: 40px;
    color: var(--light);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    }

    .Hi { 
    Font-size: 60px;
    }


    .semi {
    position: relative;
    float: right;
    right:20px;
    max-height: 300px;
    inline-size: 300px;
    }

/* nav section */
.navbar {
    display: inline-block;
    margin-bottom: 20%;
    inline-size: 100%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  main nav h2 {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--light);
    font-size: 30px;
    margin: 15px;
    padding: 20px;
    inline-size: fit-content;
    border-radius: 20%;
    }

  main h2 a {
    color: var(--pale);
    text-decoration: none;
    
    }
  
  main a:hover {
    color:var(--pink);
    font-size:larger;
    }

/* main*/
    main {
    width: 80%;
    display: inline-block;
    margin: 10%;
    }

.service {
    margin-bottom: 40px;
    height: 400px;
    padding: 20px;
    background-color: var(--pale);
    color:var(--light);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    border-radius: 20%;
    }


    .service h3 {
    font-size: 36px;
    margin: 40px;
    }

/* floats */
    .float-left {
    float: left;
    margin-right: 25px;
    }

    .float-right {
    float: right;
    margin-left: 25px;
    }

    .service p {
    margin: 15%;
    }
/*footer*/
footer {
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    color: var(--light);
    
    }
